@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One';
    --fonte3: 'Sriracha';
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--fonte2);
}

header h1 {
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 30px;
}

header p {
    padding-bottom: 30px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

section {
    padding-top: 5vh;
    padding-left: 30px;
}

section p {
    font-family: var(--fonte3);
    padding-bottom: 1em;
    font-size: 4vw;
}

.normal {
    background-color: white;
    color: black;
}

.imagem > p {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 1px black;
}

.imagem {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte1);
}